* {
    background-color: black;
    color: hotpink;
    font-size: 25px;
    text-decoration: hotpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1:hover {
    background-color: brown;

}